@import "./ToastifyCustom.scss";
@import "./css/fontastic.css";
@import "./sass/brand.scss";


$success : $primary-red;
$primary : #25C29F;
// $font-family-base : Lato, Montserrat, sans-serif;
// $font-weight-normal: 600;


@import "bootstrap/scss/bootstrap";

// nav{
//   .nav-link{
//     font-size: 14.5px;
//     font-weight : 600 !important;
//     //text-transform: uppercase;
//     // color: red;
//   }
// }
 
.sidebar-wrapper{
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  // left: -250px;
  background-color: $primary;
  overflow-x: hidden;
  transition: 0.5s;
  // padding-top: 60px;
  z-index: 1050;
}

.sidebar-overlay{
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.3);
  z-index : 1049;
  width: 100%;
  height: 100%;
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.korner {
  border-radius: 5px !important;
}
